<!DOCTYPE html>
<html>

<%= erb :_head, locals: { copy: @copy } %>

<body>
    <div id="wrapper">
        <div id="page">
            <h1>Help!</h1>
            <button onclick="window.location = '/logout'">Logout</button>
        </div>
    </div>
</body>

</html>
